div {
	display:inline-block;
}
#app{
	margin:0 auto;
}
#app #Pelicula, #app #Entrada {
	padding: 10px;
	text-align: center;
}
#app #maestro{
	display: inline-block;
	width: 100%;
}
#app #detalle{
	margin: 0 auto;
	margin-top:50px;
	display: block;
	margin-left:25%;
}
.btn{
	font-weight: bold!important;
}
a{
	text-align: center!important;
}
label{
	min-width: 70px;
}